<div class="col-lg-4 col-md-5 col-sm-12">
  <div class="container-full">
    <auto-list #autolist></auto-list>
  </div>
  <form name="searchForm" (ngSubmit)="searchFriend()" class="row">
      <fieldset>

              <div class="title-green-background">
                  <h4>Search for a carpooling</h4>
              </div>
              <div id="inputSearch" >
                  <label class="col-form-label col-form-label-sm" for="inputDep">
                      Departure
                  </label>
                  <div class="form-group has-danger" [ngClass]="{'has-danger': !isDepValid() && searchDep}">
                      <div class="dropdown">
                          <input class="form-control dropdown-toggle" autocomplete="off" required
                                 [ngClass]="{'form-control-danger': !isDepValid()}" type="text" [(ngModel)]="searchDep"
                                 name="searchInputDep" id="inputDep" data-toggle="dropdown" (ngModelChange)="updateDepCities()"/>
                          <ul class="dropdown-menu form-control" *ngIf="searchDepResults.length > 0">
                              <li *ngFor="let dep of searchDepResults" (click)="setSearchDep(dep.matching_full_name)">{{dep.matching_full_name}}</li>
                          </ul>
                      </div>
                  </div>
                  <label class="col-form-label col-form-label-sm" for="inputDest">
                      Arrival
                  </label>
                  <div class="form-group has-danger" [ngClass]="{'has-danger': !isDestValid() && searchDest}">
                      <div class="dropdown">
                          <input class="form-control dropdown-toggle" autocomplete="off" required
                                 [ngClass]="{'form-control-danger': !isDestValid()}" type="text" [(ngModel)]="searchDest"
                                 name="searchInputDest" id="inputDest" data-toggle="dropdown" (ngModelChange)="updateDestCities()"/>
                          <ul class="dropdown-menu form-control" *ngIf="searchDestResults.length > 0">
                              <li *ngFor="let dest of searchDestResults" (click)="setSearchDest(dest.matching_full_name)">{{dest.matching_full_name}}</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <button class="btn btn-info col-xs-4" [class.disabled]="!isSearchFormValid()" type="submit">
                  <i class="fa fa-lg fa-search"></i>
              </button>

      </fieldset>
  </form>
  <!--
  <form name="searchForm" (ngSubmit)="searchFriend()" class="row">
    <fieldset>
      <div class="form-group">
        <label class="col-form-label col-form-label-sm" for="inputSearch">
          Search for a friend
        </label>
        <div>
          <input class="form-control" type="text"
            [(ngModel)]="searchName" name="searchInput" id="inputSearch"
            class="col-xs-8"/>
          <button class="btn btn-info col-xs-4" type="submit">
            <i class="fa fa-lg fa-search"></i>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="container-full" >
    <div class="row table table-striped table-hover">
      <tr *ngFor="let s of searchResults">
        <div class="table-cell-custom">
          <span class="name-block col-xs-8">{{s.name}}</span>
          <button class="btn btn-info" (click)="friendlist.addFriend(s)">
            <i class="fa fa-lg fa-plus"></i>
          </button>
        </div>
      </tr>
    </div>
  </div>-->
</div>
