<div class="card card-outline-primary text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h4>{{ auto.description }}</h4>
      <div *ngFor="let d of auto.destinations">
        - {{ d.name }} on {{ d.date | date:'short' }}
      </div>
      <div>{{ auto.constraints.seats }} seats left</div>
      <div *ngIf="auto.constraints.pets">Pets allowed</div>
      <div *ngIf="!auto.constraints.pets">Pets not allowed</div>
      <div *ngIf="auto.constraints.smoker">Smoking allowed</div>
      <div *ngIf="!auto.constraints.smoker">Smoking not allowed</div>
      <div *ngIf="auto.constraints.music">Music allowed</div>
      <div *ngIf="!auto.constraints.music">Music not allowed</div>
      <footer>Author : {{ auto.owner.name }}</footer>
      <div *ngIf="!isClient() && !isOwner()"> Seats number :
      <input id="seats" name="seats" class="form-control" type="number" required
             min="1" max="{{auto.constraints.seats}}" [(ngModel)]="seatsNumber">
      </div>
      <div *ngIf="hasJoined" class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> You successfully joined the trip and will be debited of 5$.
      </div>
      <button *ngIf="!isClient() && !isOwner()" class="btn btn-primary" type="submit" (click)="joinAuto()"> Join </button>
      <button *ngIf="isOwner()" class="btn btn-primary" type="submit" (click)="deleteAuto()"> Delete </button>
      <button *ngIf="isClient() && !isOwner()" class="btn btn-primary" type="submit" (click)="cancelAuto()"> Cancel </button>
    </blockquote>
  </div>
</div>
