<div class="card card-outline-primary text-xs-center col-md-3">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h4>{{ auto.description }}</h4>
      <div *ngFor="let d of auto.destinations">
        - {{ d.name }} on {{ d.date | date:'short' }}
      </div>
      <div>{{ auto.constraints.seats }} seats left</div>
      <div *ngIf="auto.constraints.pets">Pets allowed</div>
      <div *ngIf="!auto.constraints.pets">Pets not allowed</div>
      <div *ngIf="auto.constraints.smoker">Smoking allowed</div>
      <div *ngIf="!auto.constraints.smoker">Smoking not allowed</div>
      <footer>Author : {{ auto.owner.name }}</footer>
      Seats number :
      <input  *ngIf="!isClient() && !isOwner()" id="seats" name="seats" class="form-control" type="number" required
             min="1" max="{{auto.constraints.seats}}" [(ngModel)]="seatsNumber">
      <button *ngIf="!isClient() && !isOwner()" class="btn btn-primary" type="submit" (click)="joinAuto()"> Join </button>
      <button *ngIf="isOwner()" class="btn btn-primary" type="submit" (click)="deleteAuto()"> Delete </button>
      <button *ngIf="isClient() && !isOwner()" class="btn btn-primary" type="submit" (click)="cancelAuto()"> Cancel </button>
    </blockquote>
  </div>
</div>
